/* Footer Base Styles */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light Theme */
.footer.light {
    background-color: var(--secondary-bg);
    color: var(--text-color);
}

/* Dark Theme */
.footer.dark {
    background-color: var(--primary-bg);
    color: var(--text-color);
}

/* Social Links */
.social-links a{
    margin: 0 10px;
    color: var(--text-color);
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
    color: var(--accent-color);
}