.home {
    height: 100vh;
    /*background: url(..assets/images/background.png) no-repeat center center/cover;*/
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}