/* Base Styles */
.navbar {
    transition: all 0.3s ease-in-out;
    padding: 10px 35px;
    font: 20px bolder;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

/* Shrinking effect on scroll */
.navbar.shrink {
    padding: 10px 32px;
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
}

/* Light Mode Styles */
.navbar.light {
    background-color: #FAF1E5 !important;
    color: #534558;
}

.navbar.light .nav-link {
    color: #534558;
    transition: color 0.3s ease-in-out;
}

.navbar.light .nav-link:hover {
    color: #F09110;
}

/* Dark Mode Styles */
.navbar.dark {
    background-color: #534558 !important;
    color: #FAF1E5;
}

.navbar.dark .nav-link {
    color: #FAF1E5;
    transition: color 0.3s ease-in-out;
}

.navbar.dark .nav-link:hover {
    color: #EFC38B;
}

/* Theme Toggle Button */
.btn-theme-toggle {
    background: none;
    border: none;
    color: inherit;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.btn-theme-toggle:hover {
    transform: rotate(20deg);
}