/* Default CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}
body {
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 10px;
    color: #fefefe !important;
    background: #174140 !important;
    position: relative;
}
.navbar{
    font-size: x-large;
    padding: 100px;
    background-color: #174140;
    border-bottom: 3px solid #000;
}
.navbar .active {
    color: #ffffff;
    background-color: #A04A24;
}
.banner{
    margin: 70px;
    padding: 20px;
    border-bottom: 2px dashed black;
}
.banner h1{
    margin-bottom: 30px
}
.banner strong{
    color: #A04A24;
}
.banner Italic{
    color: #A04A24;
    font-style: oblique;
}
.banner p{
    color: #121212;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    margin-top: 20px;
}
.skills{
    padding: 0 0 50px 0;
    position: relative;
}

.skills-bx{
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -80px;
}
.skills h5{
    font-size: 30px;
    font-weight: 300;
}
.skills p{
    color: #000;
    font-size: 20px;
    line-height: 75px;
    letter-spacing: 0.8px;
    margin: 14px 0 75px 0;
}
.skills-slider{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.skills-slider .item img {
    width: 60%;
    margin: 0 auto 15px auto;
}
.App {
    text-align: center;
}